@import url(./assets/reset.css);
@import url(./assets/fonts/fonts.css);
html {
   font-family: 'Averia Serif Libre';
   font-size: 10px;
   
   
}

/* .header,
.main {
   margin: 32px 130px;
} */
.header-nav {
   display: flex;
   border-bottom: 1px dashed #333333;
}
.logo_flex {
   flex-grow:1 ;

}
.email_flex {
   flex-shrink: 0;
   margin-bottom: 32px;

}
@media only screen and (max-width: 790px) {
   .email_flex > p {
      display: none;
   }
 }
 
  


 

/* Блок № 1 */
.logo__pioner {
   width: 180px;
   height: 38px;
  
}
/* Блок № 2 */
.email {
   font-size: 1.4rem;
   display: flex;
   width: 280px;
   flex-direction: column;
   align-items: flex-end;
}
.email__adress {
   font-size: 2rem;
   font-weight: 600;
   color:#607CE6 ;
}
 


  

























/* Блок № 4 Навигация  */
.navigste__elements {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 1.6rem;
   font-weight: 600;
  
}
.navigate__margin-top {
   margin-top: 32px;
}
   
.navigate__item {
   list-style-type: none;
}
.navigate__item_decoration-text {
   color: #333333;
   text-decoration: none;
}
.navigate__item_decoration-text:hover {
   color: rgb(32, 123, 244);

}
.navigate__item_decoration-text:active {
   color: rgb(11, 133, 92);
}
.navigate__item_phone-icon {
   width: 1.598rem;
   height: 1.598rem;
}
.navigate__item_decoration-color {
   text-transform: uppercase;
   color:#607CE6 ;


}
@media only screen and (max-width: 790px) {
   .navigste__elements {
    flex-direction: column;
    gap: 2rem;

   }
}
/* section 1 */
.products-characteristic__text_size-lg {
   font-size: 6rem;
   font-weight: 700;
   color: #333333;
}
.products-characteristic__text_size-sm {
   font-size: 2.6rem;
   font-weight: 400;
   color: #333333;
}
.products-characteristic {
   display: flex;
   align-items: center;
   gap: 30px;
}
@media only screen and (max-width: 790px) {
   .products-characteristic {
    flex-direction: column;
   }
   .products-characteristic__text_size-lg {
      font-size: 3rem;
   }
   .products-characteristic__text_size-sm {
      font-size: 2rem;
   }
}
    
/* section 2 */
.main__img-foto_size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}
@media only screen and (max-width: 790px) {
   .main__img-foto_size {
    width: 100%;
  

   }
}
   
    /* section 4 */
    .factory__wrapper_img-size {
      width: 100%;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .factory__wrapper {
      display: flex;
      gap: 20px;
   }
   .factory__wrapper_text {
      font-size: 1.6rem;
      text-align: justify;
      text-indent: 10px;
   }
     

  /* section 5  */
  .map__flex {
   display: flex;
   width: 100%;
  }
     
    
     
























   /* карточки продуктов фабрики */
 .products {
  width: 330px;
  height: 330px;
  font-size: 2.8rem;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}
.products__img {
  width: 300px;
  height: 200px;
}
.products__link {
  text-decoration: none;
  font-size: 2rem;
  color: #607CE6;
}
.products-fabrika {
   display: flex;
   gap: 2.5rem;
   flex-wrap: wrap;
   align-items: center;
   /* justify-content: center; */
}





  

  

 
   
   